.ConStyle {
    background-color: #23292E;
    text-align: center;
    margin-bottom: 8%;
    box-shadow: 5px 5px 10px #23292E;
    color: #99999B;
}

.title {
    text-align: center;
}

.projectStyle {
    margin-bottom: 2%;
}
.projectImg:hover {
    cursor: pointer;
  box-shadow: 2px 2px 2px 2px #99999B;
  filter: brightness(100%)
}

.projectImg {
    height: 150px;
   width: 250px;
   border: #99999B 2px solid;
   filter: brightness(80%)
}

.btn {
    margin: 2%;
}