.style {
    background-color: #2D9CBD;
    height: 10%;
}

.imgStyle {
    width: 100%;
    box-shadow: 2px 2px 2px 2px #23292E;
}

.btn {
    margin: 2px;
    background-color: #4F4F4F; 
}

.img-thumbnail {
    width: 34px;
}

.social {
    margin-top: 3%;
}